.space{
    padding: 50px 0px;
}


.title{
    margin-top: 0;
    font-size: 36px;
    line-height: 36px;
    
    border: 0;
    font-family: Exo, sans-serif;
    font-weight: 900;
    text-align: center;
}
.subhead{
    text-align: center;
    color: #333333;
    font-size: 16px;
}
.link{
    text-decoration: none;
    color: #3A5FCD !important;
}
.title-sbc{
    text-align: center;
    margin: 50px 0px;
    font-size: 24px;
    font-weight: 700;
}

.img-sbc-title{
    width: 120px;
    height: 171px;
}

.space-org{
    margin-bottom: 100px;
}

.org{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
p{
    text-align: center;
}


    
